
@{
    ViewData["Title"] = "About";
}


<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>ABOUT US</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">ABOUT US</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="~/images/about-img.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">We are <span>K's Burgers</span></h2>
                <p>
                    "Established in 2022, K's Burgers is famous for our fire grilled burgers, made fresh to order. We pride ourselves on using fresh quality ingredients for everything we make.
                </p>
                <p>
                    All of our toppings are locally sourced. Our lettuce, tomatoes, and onions come from Lookoverthere Farm, less than 5 miles from K's Burgers. Each our our sauces is made in house with fresh herbs and spices from GoOnGet Farm and Orchard.
                </p>
                <p>
                    All of our meat is butchered locally at dorkchops butchery, and sourced from various local farms such as Outto Pasture and Gotothe Light farm and dairy.
                </p>
                <p>
                    
                   K's Burgers is also home to the amazing Basket'O Zangers, specially made with our top secret breading recipe, ready to dip in our homemade bbq sauces.
                </p>
                <p>

                    Our menu offers something for everybody, from a simple single pattie burger to more complex burgers like our Harvest Burger - An Apple cheddar burger with a harvest mustard aoli.
                </p>
                <p>

                    K's Burgers prides itself on being a family friendly, down to earth burger joint. We want you to come in and feel as at home as we do. Come see us at 123 This Address, and see for yourself!"
                </p>
               
            </div>
        </div>




    </div>
</div>
<!-- End About Page -->
